body{
  font:15px/1.5 Arial,Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;

}

.content h1 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: name 2s ease 0s 1 normal forwards;
}
.content p6{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

@keyframes h1{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h1:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}


/*Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
ul{
  margin: 0;
  padding: 0;
}
.button_1{
  height: 50px;
  background: #e8491d;
  border:0;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
}
/*header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin:0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #ff4a3d;
  font-weight:bold;
}
header a:hover{
  color: #cccccc;
  font-weight:bold;
}
/* Showcase */
#showcase{
  object-fit: cover;
  min-height: 800px;
  background: url("../img/joseph.jpg.jpg") no-repeat 0 -200px;
  text-align: center;
  color:#ffffff;
  object-fit: fill;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  text-align: center;
}

#showcase p{
  font-size: 20px;
}
/* About image aka "small" */
#small{
  object-fit: cover;
  min-height: 400px;
  background: url("../img/sunset.jpg") no-repeat 0 -400px;
  text-align: center;
  color:#ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#small h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  text-align: center;
}

#small p{
  font-size: 20px;
}
/* Photo*/
#photo{
  object-fit: cover;
  min-height: 300px;
  background: url("../img/stock.jpg") no-repeat 0 -200px;
  text-align: center;
  color:#ffffff;
  object-fit: fill;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#photo h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  text-align: center;
}

#photo p{
  font-size: 20px;
}
#calendar{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}
#calendar h1{
  float: left;
}
#calendar form{
  float: right;
  margin-top: 15px;
}
#calendar input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
/* Boxes */
h6{
  text-align: center;
  font-size: 40px;
  line-height: 0.5;
}
h4{
  text-align: center;
  font-size: 25px;
  color: #35424a ;
}
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float:left;
  width: 30%;
  padding:10px;
  text-align: center;

}
#boxes .box img{
  width:90px;
}
.events{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica,sans-serif;
  background-color: #35424a;
  float: left;
}

.timeline{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.timeline ul{
  list-style: none;
}
.timeline ul li{
  padding: 20px;
  background-color: #1e1f22;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child{
  margin: bottom 0;
}

.timeline-content h1{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p{
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content h5{
  text-align: center;
}

.service1{
  width:298px;
  border: 1px solid #c1c1c1;
  margin: 20px 10px;
  padding: 0 5px;
  float: left;
}

h9{
  font-size: 16px;
  font-weight: bold;
  background-color: #35424a;
  color: #ffffff;
  padding: 10px 0;
  margin: 0 -6px;
}

.img{
  max-width: 200px;
  margin: 15px 0 0 0;
}
.service1 > p{
  font-size: 14px;
  max-width: 250px;

}
.services {
  width: 1333px;
  margin: 0 auto;
}
.heading{
  text-align: center;
  font-size: 25px;
  color: #c1c1c1;
  margin: 100px 0 50px 0;
}

footer{
  padding:20px;
  margin-top: 20px;
  color: #35424a;
  background-color: #e8491d;
  text-align: center;
}